@-moz-document domain("discord.com") {
:not([class*=container]) > [class*=avatarWrapper],
[class*=profileBadges],
[class*=bannerSVGWrapper],
[class*=topSection],
[class*=section]:has(> [class*=activity]),
[class*=userProfileInner]::before,
[class*=badgelistGroup],
[class*=listAvatar],
[class*=guildAvatar],
.statusBubbleOuter_d0a252::before,
.statusBubbleOuter_d0a252::after,
.header_c6e596 > [class],
[aria-label="User Badges"],
.invisibleContainer_d0a252,
.multipleButtons_fcef98 > [aria-label="Add Friend"]
{
    display: none !important;
}

[class*=userPopoutOverlayBackground],
[class*=userProfileModalOverlayBackground]
{
    margin: 0;
    max-height: 100%;
}

[aria-label="Roles"][class*=root],
[class*=focusLock]
{
    position: static !important;
    display: block !important;
    max-height: 100% !important;
    height: 100% !important;
}

/*[class*=focusLock]:not(:has(:is([class*=carouselModal],[class*=media])))
{
    width: 50%;
}*/

.root_ba16f0 > div,
.root_ba16f0 > div > div,
.root_ba16f0 > div > div > div,
.root_ba16f0 > div > div > div > div,
.root_ba16f0 > div > div > div > div > div
{
    display: block;
    width: 100% !important;
    height: 100% !important;
}

[class*=body_]
{
    display: flex !important;
    flex-direction: column;
}
[class*=infoScroller]
{
    height: 100%;
}

[class*=lineClamp2Plus]
{
    -webkit-line-clamp: none !important;
}

[class*=tabBar]
{
    gap: 0;
}
[class*=tabBarItem]
{
    height: 2em;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

[class*=userProfileOuterThemed][class*=userPopoutOuter]
{
    padding: 0;
}

.theme-dark  {--pflbg: #000; --pflfg: #fff; --pflfg2: #ccc; --pflbg2: #222;}
.theme-light {--pflbg: #fff; --pflfg: #000; --pflfg2: #444; --pflbg2: #eee;}

[class*=userProfileOuterThemed][class*=userPopoutOuter],
[class*=userProfileInnerThemedPremiumWithoutBanner],
[class*=overlayBackground],
[class*=rolePill],
[class*=userProfileInnerThemedWithBanner]
{
    background: var(--pflbg) !important;
}
[class*=userPanelInnerThemed],
[class*=userProfileOuterThemed],
.custom-profile-theme .biteSizeInnerThemed_c69a7b
{
    background: none;
}
[class*=userTagUsernameBase__],
.defaultColor__87d87
{
    color: var(--pflfg);
}
.defaultColor__77578
{
    color: var(--pflfg2);
}

[class*=messageInputContainer],
[class*=note_]
{
    border: 1px solid #fff4;
}

[class*=note_] textarea:focus
{
    background: var(--pflbg2);
}

@keyframes fix-roles
{
	0% {width: 0%;}
	100% {width: 100%;}
}

[class*=role_][class*=pill_]
{
    border: 1px solid #8888;
	max-width: unset !important;
	animation-name: fix-roles;
	animation-duration: 0.1s;
}

[class*=none_]
{
    display: flex;
    flex-direction: column;
}
[class*=userPanelOverlayBackground_]
{
    margin: 0;
    border-radius: 0;
}
[class*=userPanelOverlayBackground_]:nth-child(2)
{
    flex-grow: 1;
}

[class*=roleName]
{
	max-width: unset;
}

.clamp_d0a252,
.descriptionClamp_fc5c48
{
	-webkit-line-clamp: unset !important;
}

.custom-profile-theme header,
[role="dialog"] header
{
	min-height: unset !important;
}
[role="dialog"] header > div
{
	width: 100%;
	padding: 0;
}
[role="dialog"] header [class*=buttons]
{
	display: block;
	width: 100%;
}
.multipleButtons_fcef98
{
	gap: 0;
}
[role="dialog"] header [class*=buttons] [aria-label="Message"],
[role="dialog"] header [class*=buttons] [aria-label="Message"] > button
{
	width: 100%;
}
.visibleContainer_d0a252.biteSize_d0a252,
.visibleContainer_d0a252.fullSize_d0a252
{
	position: static !important;
	width: 100%;
}
.statusBubbleOuter_d0a252
{
	position: static;
	max-width: unset !important;
	border: none !important;
	border-radius: 0;
	border-bottom: 1px solid #8888 !important;
	background: none !important;
	width: 100% !important;
}
.statusBubble_d0a252
{
	background: none !important;
}
.statusBubbleWithTextPadding_d0a252
{
	padding: 8px;
	margin-top: -8px;
}

.wrapper_cb78f1:has(div)
{
	position: static;
	border-bottom: 1px solid #8888 !important;
	display: flex;
	gap: 0;
}
.wrapper_cb78f1 > div
{
	flex-grow: 1;
	display: flex;
	justify-content: center;
}
.wrapper_cb78f1 > div > button
{
	width: 100%;
	padding: 0;
	border-radius: 0;
}
.wrapper_cb78f1 > div:not(:last-child)
{
	border-right: 1px solid #8886 !important;
}

.maxBioHeight_fc5c48 {max-height: unset !important;}

/* [START-0] friend list */

[role="tablist"]:has(.selected_a0[aria-label*=Friends]) + div
{
	display: flex;
	flex-wrap: wrap;
}

/* [END-0] */

.custom-profile-theme > div
{
	background: var(--pflbg) !important;
}

.custom-profile-theme .color_fcef98,
.color_fcef98
{
	border-radius: 0;
	background: none !important;
	border-bottom: 1px solid #8888;
}
.custom-profile-theme .color_fcef98:hover,
.color_fcef98:hover
{
	background: var(--accent-color) !important;
	color: var(--pflfg) !important;
	opacity: 1;
}

.root_f9a4c9
{
	background: none;
}

.theme-dark.custom-profile-theme .biteSizeOverlayBackground_c69a7b, .theme-dark.custom-profile-theme .fullSizeOverlayBackground_c69a7b
{
	border-color: #8886;
}
}
