@-moz-document regexp("https://(hackage|downloads).haskell.org/package/.*/docs/[^s].*") {
:root {
	--content-padding: 16px;
	--toc-width: 300px;
}
@media (prefers-color-scheme: dark) {
	:root {
		--border-thick: 1px solid #666;
		--border-thin: 1px solid #444;
		--expander: #fff;
		--header: #28e;
		--link: #4cf;
		--target: #0f8;
		--targetbg: #084;
		--text: #fff;
		--srclink: #ccc;
		--base: #000;
		--layer1: #222;
		--layer2: #444;
		--synopsis: #001420;
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--border-thick: 1px solid #0004;
		--border-thin: 1px solid #0002;
		--expander: #000;
		--header: #06c;
		--link: #08f;
		--target: #ff0;
		--targetbg: #8408;
		--text: #000;
		--srclink: #444;
		--base: #fff;
		--layer1: #eee;
		--layer2: #ccc;
		--synopsis: #f8f8f8;
	}
}

.empty
{
	display: none;
}

body {color: var(--text); background: var(--base)}

pre, table.info {color: var(--text); background: var(--layer1); border-color: var(--layer2)}

table, .src.clearfix {width: 100%}

#content
{
	margin-left: var(--content-padding);
	margin-top: var(--content-padding);
	width: calc(100% - (2 * var(--content-padding))) !important;
	max-width: unset !important;
    /* for old layout */
    padding: 0;
}
#content:has(#table-of-contents)
{
	margin-left: calc(var(--toc-width) + var(--content-padding));
	width: calc(100% - var(--toc-width) - (2 * var(--content-padding))) !important;
}

#module-header
{
	display: flex;
	flex-direction: column-reverse
}
#module-header .caption {margin-top: 0;}
#module-header > table {margin: 0; width: max-content;}

#table-of-contents
{
	position: sticky;
	margin-left: calc(-1 * var(--toc-width) - var(--content-padding));
	left: 0;
	top: 0;
	bottom: 0;
	width: var(--toc-width);
	max-width: unset;
	height: 100vh;
    /* for old layout */
    background: var(--layer1);
    border: none;
    float: unset;
    box-sizing: border-box;
}
#contents-list {background: var(--layer1)}
#contents-list li {border-bottom: var(--border-thin)}
#contents-list li > ul {margin-left: 0; padding-left: 8px; border-left: var(--border-thick)}

#table-of-contents ~ div:not(#synopsis) {position: relative; top: -100vh;}

.top p.src {border-color: var(--layer2)}
.src, .subs .subs p.src, .doc th {background: var(--layer1)}
.subs, .top > .doc, .subs > .doc {border-left: var(--border-thick)}
.doc th, .doc td {border: var(--border-thin)}

#synopsis {top: 0; bottom: 0}
@media (prefers-color-scheme: dark) {#synopsis details > summary, .math img {filter: invert(100%)}}
#synopsis ul, #synopsis ul li.src, #search-results, .dropdown-menu {background: var(--synopsis)}

/* these only ligate properly if you use a fancy font like fira code */
.expander::before {content: "|>"}
.collapser::before {content: "||"}

.collapser::before, .expander::before, .noexpander::before {color: var(--expander)}

.caption, h1, h2, h3, h4, h5, h6, summary {color: var(--header)}

a[href]:link {color: var(--link)}

:target {color: var(--target); background: var(--targetbg)}
:target:hover {color: var(--text); background: var(--target)}

.inline-code {background: var(--layer2); border: 1px solid var(--srclink)}

/* for old layout */

#interface .src .selflink, #interface .src .link
{
    background: none;
    border: none;
}

.collapser, .expander
{
    background: none;
    padding: 0;
}
}
